
<div id = "cont" class="container-fluid text-left ">
    <div class="row content">

        <div>
            <p id = "msg"><span  style="color:red">Some Error happened: <span/></p>
        </div>
        <script>
            var msg = "<p> $errormessage </p>"
            $("#msg").append(msg);

        </script>
    </div>